.my-card {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
  width: 100px;
  height: 150px;
  border-radius: 25px;
}

.red {
  background-color: rgb(255, 0, 0);
}

.lime {
  background-color: rgb(0, 255, 0);
}

.blue {
  background-color: rgb(0, 0, 255);
}

.maroon {
  background-color: rgb(128, 0, 0);
}

.green {
  background-color: rgb(0, 128, 0);
}

.navy {
  background-color: rgb(0, 0, 128);
}

.yellow {
  background-color: rgb(255, 255, 0);
}

.magenta {
  background-color: rgb(255, 0, 255);
}

.cyan {
  background-color: rgb(0, 255, 255);
}

.olive {
  background-color: rgb(128, 128, 0);
}

.purple {
  background-color: rgb(128, 0, 128);
}

.teal {
  background-color: rgb(0, 128, 128);
}