.my-table {
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  background-image: radial-gradient( rgb(182, 236, 240), rgb(204, 229, 255));
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: center; 
  align-content: center; 
  column-gap: 25px;
  row-gap: 25px;
}
